<div class="container">
  <h1><%= @place["name"] %></h1>



  <p>
    <a class="btn btn-primary" href="/posts/new?place_id=<%= @place["id"] %>">New Post</a>
  </p>


  <div class="row">
      <% for post in @posts %>
        <div class="col-md-4 col-sm-6">
          <h1><%= post["title"] %></h1>
          <% if post.uploaded_image.attached? %>
            <image src="<%=(url_for(post.uploaded_image))%>" class="img-fluid">
            <% post["uploaded_image"]%>
          <% else %>
            image not here
          <% end %>
          <h4><%= post["posted_on"] %></h4>
          <%= post["description"] %>
        </div>
      <% end %>
  </div>
 

  <p>
    <a class="btn btn-primary btn-sm" href="/places">Back to All Places</a>
  </p>

</div>